


.album-carousel {

    height: 200px;
    bottom: 30px;
    border: 2px solid black;
}
div.slick-initialized.slick-slider {
   position: relative!important;
}
.artist-card {
    background: red;
    height: 70%;
    width: 100%;
    border: 1px solid black;
}
.grid-container {
    justify-content: center;
    height: 50%;
    position: absolute;
}
.artist-img-container {
    float: left;
    height: 100%;
    position: relative;
    top: 25px;
    left: 30px;
}
.artist-img {
    border: 6px solid rgba(0,0,0,0.75);
    width: calc(100% - 50px);
}
.genre-doughnut {
    height: 200px;
    top: 40px;
    position: relative;
}
.artist-top-container {
    height: 65%;
}
.carousel-bgd {
    height: 15vh;
}
.album-carousel-item {
    height: 15vh;
}
.exit-artist-modal {
    color: gray;
    float: right;
    z-index: 2;
}
.exit-artist-modal:active {
    outline: none;
}
.artist-name-container {
    text-align: center;
    position: relative;
    top: 15px;
}















