.logs-user {
    bottom: 0px;
    height: 6vh;
    position: absolute;
    margin-bottom: 4%;
    left: calc(5%);
    width: 90%;

}
.log-btn-container {
    width:100%;
}
.search-bar {
    width: 100%;
    position: relative;
    top: 1vh;
}