.logs-user {
    bottom: 0px;
    height: 6vh;
    position: absolute;
    margin-bottom: 4%;
    left: calc(5%);
    width: 90%;

}
.log-btn-container {
    width:100%;
}
.search-bar {
    width: 100%;
    position: relative;
    top: 2vh;
}
.autocomplete {
  width: 400px;
  height: 50vh;
  margin-right: 3%;
  right: 0;
  position: absolute;
  z-index:4;
  overflow: scroll;
   background: white;

}
.loop-icon {
    display: none !important;
}
.player-btn  {
    fill: #69f0ae !important;
    color: #69f0ae !important;
    background: #69f0ae !important;

}
.text-audio {
    position: relative;
    top: 1.5vh;
}


.playback {
    margin-left: 90px;
   position: absolute;
   z-index: 4;
   width: 450px;
   height: 10vh;
   top: 2vh;

}
.playback-player {
   position: 'relative';
   top: '1.5vh';
   left: '12px';
   height: '8vh'
 }