.login-container {
    background: linear-gradient(0deg, #383838, #151515);
}
body {
    background: '#f1f1f1' !important;
    font-family: Montserrat !important;
}

.login-card{
    
}

#full-screen{
    height: 100vh;
    background: #151515 !important;
    font-family: Montserrat !important;
    background-size: 100% 100%;
}
#login-button{
    color: #2f2f2f !important;
}
